.news-card {
  display: flex;
  flex-direction: column;
  max-width: 410px;
}
.news-card__image {
  width: 378px;
  height: 254px;
  object-fit: cover;
  object-position: center;
  transition: opacity 0.5s ease;
}
.news-card__image:hover {
  opacity: 0.8;
}
.news-card__title {
  max-width: 378px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}
